body {
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #efefef;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.Portfolio-intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: #363636;
}

.BackgroundImage {
  width: 40%;
  min-width: 180px;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 3px 30px #000000;
  margin: 40px;
}

.Portfolio-name {
  text-align: center;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 40px;
}

.PortfolioTitle {
  color: #efefef;
  margin: 0px;
  font-size: clamp(25px, 10vw, 40px);
}

.PortfolioSubTitle {
  color: #efefef;
  margin: 0px;
  font-size: clamp(20px, 6vw, 28px);
}

.PortfolioContactInfo {
}

@media only screen and (max-width: 600px) {
  .Portfolio-intro {
    flex-direction: column;
  }
}
